//
   Created by bluehawky on 14-10-9.

script(src='/js/libs/jquery-1.7.2.min.js')
script(src='/js/libs/jquery-ui-1.8.21.custom.min.js')
script(src='/js/libs/jquery.ui.touch-punch.min.js')
script(src='/js/libs/bootstrap/bootstrap.min.js')
script(src='/js/Theme.js')
script.
  $(function () {
  Theme.init ();
  });