//
   Created by bluehawky on 14-10-9.

div#footer
    div.container
        div.row
            div.span6
                | © 2012 all rights reserved.
            // /span6
            div#builtby.span6
                a(href='#') Built by
            // /.span6
        // /row
    // /container
// /#footer
