//
   Created by bluehawky on 14-10-9.

#header
    .container
        a.brand(href='./index.html') Dashboard Admin
        a.btn-navbar(href='javascript:;', data-toggle='collapse', data-target='.nav-collapse')
            i.icon-reorder
        .nav-collapse
            ul#main-nav.nav.pull-right
                li.nav-icon
                    a(href='./index.html')
                        i.icon-home
                        span Home
                li.dropdown
                    a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                        i.icon-th
                        span Components
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='./elements.html') Elements
                        li
                            a(href='./validation.html') Validation
                        li
                            a(href='./jqueryui.html') jQuery UI
                        li
                            a(href='./charts.html') Charts
                        li
                            a(href='./bonus.html') Bonus Elements
                        li.dropdown-submenu
                            a(tabindex='-1', href='#') Dropdown menu
                            ul.dropdown-menu
                                li
                                    a(tabindex='-1', href='#') Second level link
                                li
                                    a(tabindex='-1', href='#') Second level link
                                li
                                    a(tabindex='-1', href='#') Second level link
                li.dropdown
                    a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                        i.icon-copy
                        span Sample Pages
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='./faq.html') FAQ
                        li
                            a(href='./gallery.html') Image Gallery
                        li
                            a(href='./pricing.html') Pricing Plans
                        li
                            a(href='./reports.html') Reports
                        li
                            a(href='./settings.html') Settings
                li.dropdown.active
                    a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                        i.icon-external-link
                        span Extras
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='./login.html') Login
                        li
                            a(href='./signup.html') Signup
                        li
                            a(href='./error.html') Error
                        li
                            a(href='./skins.html') Skins
                        li
                            a(href='./sticky.html') Sticky Footer
        // /.nav-collapse
    // /.container
// /#header