//
   Created by bluehawky on 14-10-9.

#masthead
    .container
        .masthead-pad
            .masthead-text
                h2 Page Not Found
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            // /.masthead-text
    // /.container
// /#masthead