//
   Created by bluehawky on 14-10-5.
include doctype
html
    include head
        |   <script language="JavaScript" src="js/md5.js"></script>
        title 登陆

    body
        block loginBox
        include script


